{% extends 'firstview/layout.html' %}
{% block content %}

<div class="products">
  
  
  </div>
  
<button id="load-more"  class="btn btn-primary btn btn-dark" onclick="increase()" style="display: none;">load more</button>
 

{% endblock %} 
{% block scripts %}


<script type="text/javascript">
 var a = 0;
 function increase(){
            a+=6;
            console.log(a);
            $.ajax({
            method: "POST",
            url: "/api/products",
            data: { 'offset_limit':a
                    }
            })
          .done(function(response) {
            let data = '';
        
        let counter = 1;
        $.each(response, function(key,value){
          if (counter == 4){
            counter = 1;
          }
          if (counter == 1){
           data += `<div class="row product-row" >`;
          }                        
          data += `<div class="col-sm">
            <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/uploads/products/${value.image}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">${value.product}</h5>
          <p class="card-text">${value.details}</p>
          <a href=http://127.0.0.1:5000/productdetails class="btn btn-primary btn btn-dark">More details</a>
        </div>
      </div>
                    </div>`;
          if(counter == 3) {
            data +=`</div>`;
          } 
          counter++;
          if (response.length < 6){
              $('#load-more').hide();
              console.log("hideme");

            }
        });
  
        
          $('.products').append(data);
        });

      }
    
  $(function() { 
       $.getJSON($SCRIPT_ROOT + '/api/products', {
        
      }, function(response) {
        console.log(response.length)
        
          let data = '';
        
          let counter = 1;
          $.each(response, function(key,value){
            if (counter == 4){
              counter = 1;
            }
            if (counter == 1){
             data += `<div class="row product-row" >`;
            }                        
            data += `<div class="col-sm">
              <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="static/uploads/products/${value.image}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">${value.product}</h5>
            <p class="card-text">${value.details}</p>
            <a href=http://127.0.0.1:5000/productdetails class="btn btn-primary btn btn-dark">More details</a>
          </div>
        </div>
                      </div>`;
            if(counter == 3) {
              data +=`</div>`;
            } 
            counter++;
          
          });
           $('.products').append(data);
           $('#load-more').show();
           if(response.length ==6 ){
            console.log('hello');

             }

      });
  });

</script>
{% endblock %}