{% extends 'layout.html' %}
{% block content %}
<div class="row row-cols-2">
    <div class="col">
     <h1>Users</h1>
        
        <form>
            <input type="text" id="search" value ="{{ result_search }}" name="search">
            <input type="submit" value="Search" class="btn btn-dark">
        </form>
    </div>
    <div class="col"> 
        <form  methode='GET'>          
       <a href="{{ url_for('addDetails') }}" class="btn btn-dark float-right" role="button">Create</a>
    </div>
</div>

<div class="row row-cols-1 table-wrapper">
    <div class="col">


    <table border="1">
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>User role</th>
            <th>Actions</th>
        </tr>
        {% for i in users_list %}
        <tr>
            <td>{{i.user_id}}</td>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phonenumber}}</td>
            <td>{{i.address}}</td>
            <td>{{i.userroles}}</td>
            <td> <a href="/user/edit/{{ i.user_id }}">edit</a> <a href="/user/delete/{{ i.user_id }}">delete</a></td>
        </tr>
        
        {% endfor %}
    </table>
    
    <nav class="pagein" aria-label="Page navigation example">

        <ul class="pagination">
            {% for n in range(total_pages) %}
                {% if current_page == n %}
                    <li class="page-item active"><a class="page-link" href="?search={{result_search}}&page={{n+1}}">{{n+1}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?search={{result_search}}&page={{n+1}}">{{n+1}}</a></li>
                {% endif %}
            {% endfor %} 
    
        </ul>
      </nav>
    </div>
</div>  
    {% endblock %}
