{% extends 'firstview/layout.html' %}
{% block content %}
<!-- Begin page content -->  
 {% if form %}
 <h1>update User Details</h1>
 <form action="{{ url_for('editUser',user_id=form.user_id) }}" method="POST">
    <div class="form-group">
      <label for="FirstName">First Name</label>
      <input type="text" value="{{form.firstname}}" class="form-control" name="FirstName" placeholder="Enter First Name" aria-describedby="">
    </div>
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input type="text" value="{{form.lastname}}" class="form-control" name="LastName" placeholder="Enter Last Name" aria-describedby="">
    </div>
    <div class="form-group">
      <label for="Age">Age</label>
      <input type="number" value="{{form.age}}" min="18" class="form-control" name="Age" placeholder="Enter Age" aria-describedby="">
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" value="{{form.email}}" min="5000" class="form-control" name="Email" placeholder="Enter Email" aria-describedby="">
    </div>
    <div class="form-group">
        <label for="Phone Number">Phone Number</label>
        <input type="text" value="{{form.salary}}" class="form-control" name="PhoneNumber" placeholder="Enter Phone number" aria-describedby="">
      </div>
      <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" value="{{form.address}}" min="5000" class="form-control" name="Address" placeholder="Enter Address" aria-describedby="">
      </div>
    <div class="form-group">
      <label for="Userrole">Userroles</label>
      <select class="form-control" name="UserRoles">
        <option value="Manager" {% if form.userroles =="Manager" %} selected{% endif %} >Manager</option>
        <option value="Cashier" {% if form.userroles == "Cashier" %} selected{% endif %} >Cashier</option>
        <option value="Salesstaff" {% if form.userroles =="Salesstaff" %} selected{% endif %} >Salesstaff</option> 
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>  
   <form action="{{ url_for('editPassword',user_id=form.user_id) }}">
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" value="{{form.password}}" min="5000" class="form-control" name="Password" placeholder="Enter password" aria-describedby="">
  </div>
  <div class="form-group">
      <label for="Confirm Password">Confirm password</label>
      <input type="password" min="5000" class="form-control"  placeholder="Re Enter password" aria-describedby="">
  </div>                                                                                                                                                                               
   </form>
  {% endif %}
{% endblock %} 